{% extends "store/layout.html" %}
{% block title %}
Store - <!--{{ genre }}-->
{% endblock %}
{% block content %}
    <!--<p>This is the {{ genre }} page.</p>-->
    {% if music_list %}
        <table class="table table-responsive w-100 d-block d-md-table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Genre</th>
                <th>Date Added</th>
            </tr>
            </thead>
            <tbody>
            {% for music in music_list %}
                <tr>
                    <td><a href="play/?songid={{ music.id }}">{{ music.song_title }}</a></td>
                    <td>{{ music.artist }}</td>
                    <td>{{ music.genre }}</td>
                    <td>{{ music.created }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No messages have been logged. Use the.</p>
    {% endif %}
{% endblock %}